<p-card class="max-w-md mx-auto mt-8" header="Dirección del Usuario">
  <ul class="divide-y divide-gray-200">
    <li class="py-2 flex justify-between">
      <span class="font-medium">Ciudad:</span>
      <span>{{ direccion.ciudad }}</span>
    </li>
    <li class="py-2 flex justify-between">
      <span class="font-medium">Zona:</span>
      <span>{{ direccion.zona }}</span>
    </li>
    <li class="py-2 flex justify-between">
      <span class="font-medium">Calle:</span>
      <span>{{ direccion.calle }}</span>
    </li>
    <li class="py-2 flex justify-between">
      <span class="font-medium">Número:</span>
      <span>{{ direccion.numero }}</span>
    </li>
    <li class="py-2 flex justify-between">
      <span class="font-medium">Referencia:</span>
      <span>{{ direccion.referencia }}</span>
    </li>
  </ul>
</p-card>
